/* Write your CSS here! */
<<<<<<< HEAD
=======

h1 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: rgb(195, 173, 230);
  }



            h2 {
  border: 1px solid black;
  margin: 25px 50px;
  background-color: lightblue;
 }
            p {
              background-color: rgb(223, 241, 194);
            }
>>>>>>> 409f47d80cd158b8bab42ac07ed23ea34fb46e28
